<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Shop)}"/>

<div class="container">
    <br>
    <h1>Students:max grade:<span th:text="${maxgrade}"></span>, min grade: <span th:text="${mingrade}"></span></h1>
    <table class="table">
        <thead class="thead-dark">  <span th:text="${maxgrade}"></span>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Набранные баллы</th>
            <th></th>
        </tr>
        </thead>

        <tr class="responsive-row" th:each="student : ${students}">
            <!--/*@thymesVar id="student" type=""*/-->
            <td th:text="${student.id}"/>
            <td th:text="${student.userName}"/>
            <td th:text="${student.examgrade}"/>

        </tr>
    </table>
</div>

</body>
</html>